*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.blender{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 500px;
/*     background-color: blueviolet; */
    background-image: url('../img/licuadoraApagada.png');
    background-size: contain;/*escala la imagen al tamaño del div*/
    background-position: center;
    background-repeat: no-repeat;
}

.blender.active{
    background-image: url('../img/licuadoraEncendida.gif');
}

.blender-button{
    margin: 365px auto 0px;
    width: 38px;
    height: 53px;
    /* background-color: chartreuse; */
}

